* {
    margin: 0;
    padding: 0;
}
a {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    color: #333;
    text-decoration: none;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.active {
    background-color: red;
    color: white;
}

#active-text {
    margin-top: 20px;
    font-size: 18px;
    font-family: sans-serif;
}